html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
body {
  padding: 1rem;
  font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1{font-size: 2.6rem;text-align: center;}
.wrap{margin: 0 auto;}
.noBox{width: 27.6rem;overflow: hidden;border: 0.1rem solid #000;}
.noBox span{width: 9rem;height:9rem;float: left; text-align: center;line-height:9rem;border: 0.1rem solid #000;font-size: 4rem;cursor: pointer;}