html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
body {
  padding: 0.2rem;
  font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1{font-size: 2.6rem;text-align: center;margin:0;display: none;}
.wrap{margin:0 auto;}
.noBox{width: 30.6rem;overflow: hidden;border: 0.1rem solid #000;margin: 0 auto;border: none;}
.noBox span.no{position:relative;color:#fff;width: 9rem;height:9rem;float: left; text-align: center;line-height:9rem;border: 0.1rem solid #000;font-size: 4rem;cursor: pointer;border: none;margin: 0.5rem;}
.noBox span.no span{display: block;width: 100%;height: 100%;}
.noBox span em{display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.noBox span em.front{background:#F923A3;background: none;}
.noBox span em.back{background:#065ECA;background: none;}
.noBox span em i{display: block;width: 100%;height: 100%;background-size: contain;background-repeat:no-repeat;text-indent: -200rem;}
.noBox span em i.bg0{background-image: url('/images/numberpic3/0.png');}
.noBox span em i.bg1{background-image: url('/images/numberpic3/1.png');}
.noBox span em i.bg2{background-image: url('/images/numberpic3/2.png');}
.noBox span em i.bg3{background-image: url('/images/numberpic3/3.png');}
.noBox span em i.bg4{background-image: url('/images/numberpic3/4.png');}
.noBox span em i.bg5{background-image: url('/images/numberpic3/5.png');}
.noBox span em i.bg6{background-image: url('/images/numberpic3/6.png');}
.noBox span em i.bg7{background-image: url('/images/numberpic3/7.png');}
.noBox span em i.bg8{background-image: url('/images/numberpic3/8.png');}
.noBox span em i.bg9{background-image: url('/images/numberpic3/9.png');}
.noBox span em.one{background-size: contain;background-repeat: no-repeat;background-image: url('/images/initbg.png');}
.chooseNoBox{width: 27.6rem;overflow: hidden;margin: 0.5rem auto 0 auto;}
.chooseNoBox em{background:#color:#fff;width: 4rem;height:4rem;margin:0.65rem;font-weight:blod;font-style:normal;float: left; text-align: center;line-height:4rem;border: 0.1rem solid #DEA015;border-radius:0.5rem;font-size: 3rem;background-size: contain;background-repeat:no-repeat;text-indent: -200rem;}
.chooseNoBox em.smbg0{background-image: url('/images/smallnumberpic1/0.png');}
.chooseNoBox em.smbg1{background-image: url('/images/smallnumberpic1/1.png');}
.chooseNoBox em.smbg2{background-image: url('/images/smallnumberpic1/2.png');}
.chooseNoBox em.smbg3{background-image: url('/images/smallnumberpic1/3.png');}
.chooseNoBox em.smbg4{background-image: url('/images/smallnumberpic1/4.png');}
.chooseNoBox em.smbg5{background-image: url('/images/smallnumberpic1/5.png');}
.chooseNoBox em.smbg6{background-image: url('/images/smallnumberpic1/6.png');}
.chooseNoBox em.smbg7{background-image: url('/images/smallnumberpic1/7.png');}
.chooseNoBox em.smbg8{background-image: url('/images/smallnumberpic1/8.png');}
.chooseNoBox em.smbg9{background-image: url('/images/smallnumberpic1/9.png');}
.buttonBox{margin: 1rem 0 0 3rem;font-size: 2rem;text-align: center;}
.buttonBox button{width: 4rem;height: 4rem;margin:0 3rem 0 0;border:none;background-size: contain;background-repeat: no-repeat; text-indent: -200rem;}
.buttonBox .submit{background-image: url('/images/submit.png');width: 5rem;height: 5rem;}
.buttonBox .refresh{background-image: url('/images/refresh.png');}
.buttonBox .restart{background-image: url('/images/restart.png');}
/*pop tips*/
.popWrap{position: absolute;left:0;top:0;z-index: 8; text-align: center;width: 100%;height: 100%;}
.popWrap .shade{position: absolute;left:0;top:0;width: 100%;height: 100%;background-color: #000;opacity: 0.2;z-index: 10;}
.popWrap .popwin{width: 100%;height: 100%; z-index:12;background-color: #FFA706;font-size: 2.0rem;color:#ffffff;}
.popWrap .popwin .words{padding: 20rem 0.5rem 0 0.5rem;}
.popWrap .popwin button{width: 9rem;display:inline-block;height: 4rem;border-radius: 0.5rem;font-size: 2rem;color: #fff;border: 0.2rem solid #fff;margin: 2rem 1rem 0 1rem;}


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	-webkit-perspective:1000;
}
/* flip the pane when hovered */
.flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility:hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}