<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="format-detection" content="telephone=no" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎试玩<%= title %></p>
    <div class='wrap' id='gameCoreCon'>
      
    </div>
    <script src="/bower_components/react/react.js"></script>
		<script src="/bower_components/react/JSXTransformer.js"></script>
    <script src='/javascripts/game.jsx' type='text/jsx'></script>
  </body>
</html>
