<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="format-detection" content="telephone=no" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="apple-touch-icon" href="/images/brainy_no_game.png" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class='wrap' id='gameCoreCon'>
      
    </div>
    <!-- <div class='wrap' id='chooseGameNoCon'>
      
    </div> -->
    <script src="/bower_components/react/react.js"></script>
		<script src="/bower_components/react/JSXTransformer.js"></script>
    <script src='/javascripts/game.js' type='text/jsx'></script>
  </body>
</html>
